*
{
    margin: 0;
    padding: 0;
}
body,html
{
  background-color: #171717 !important;
}

/* NAVBAR */

.navbar-brand
{
    font-family: 'Handlee', cursive;
    font-size: 3vw !important;
    margin: 0 0 0 30px;
    text-align: left;
    color: #fff;
}


.nav-item
{
    margin: 0 3vh 0 0;
    
    
}
.navbar-nav li a 
{
    font-family: 'Handlee', cursive;
    color: #ffffff !important;
}

.navbar-nav li a:hover 
{
    color: rgb(209, 209, 13) !important;
}

.box1
{
    height: 100%;
    width: 100%;
    position: relative;
}
.box1 img
{
    height: auto;
    width: 100%;
    opacity: 0.9;
}
.box1-1
{
    position: absolute;
    top: 30%;
    left: 7%;
}
.box1-1 p
{
    color: #ffffff;
    font-size: 4vw;
    font-weight: bolder;
    line-height: 3rem;
    font-family: 'Amatic SC', cursive;
}


/* TEAM */
#team
{
    background-color: #171717;
    /* background: linear-gradient(#bcb8b1,#f4f3ee); */
}
.team
{
    height: 10vw;
    text-align: center;
    color: #ffffff ;
    padding: 25px;
   
}
.team h6{
    font-family: 'Amatic SC', cursive;
    font-size: 4vw !important;
}
.row
{
    height: 100%;
    
}

.teamcards
{
    height: 15rem;
    width: 10rem ;
    margin: 15% 30% 15% 35%;
    padding: 1px;
    border-radius: 0px;
   background: linear-gradient(145deg, #191919, #151515);
    box-shadow:  7px 7px 14px #090909,-7px -7px 14px #252525;
}
.teamcards img
{
    width: 100%;
    height: 9rem;
    margin-bottom: 0.5rem;
}
.teamcards h5
{
  font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2px;
    font-family: 'Merienda', cursive;
}
.teamcards p
{
  font-size: 16px;
  text-align: center;
    color: #ffffff;
    line-height: auto;
    font-family: 'Josefin Slab', serif;
}


/* FOR YOU  */
#facilities
{
    background-color: black;
}
.carousel-item
{
    height: 43vw;
   
}
.carousel-item img
{
    height: auto;
    width: 70%;
    background-color: black;
}
.carousel-caption
{
    font-weight: bold;
}
.carouselinfo
{
    font-family: 'Merienda', cursive;
    
}
.carouselinfo h5
{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: -3px -3px 3px rgba(41, 50, 39, 0.58);;
}
.carousel-caption-1 
{
    top: 0;
    bottom: auto;
    margin-top: 4rem;
    font-family: 'Amatic SC', cursive;
    
}
.carousel-caption-1 h5
{
    font-size: 4vw !important;
    
}


/*Life At Myrtle*/
#lifeatMyrtle
{
  background-color: #171717;
}
.videobox h1 
{
    text-align: center;
    padding: 2rem;
    font-size: 4vw !important;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
}
.owl-carousel .item-video
{
    height:28vw ;
    margin: auto;
   
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    display:inline-block;
}
.owl-dot span{
     width: 11px;
     height: 11px;
     background: #ffffff;
     border-radius: 50%;
     display: block;
     margin:5px 5px;
}

.owl-dot.active span{
    background-color: rgb(64, 108, 230);
}

/* PRICING SECTION */
#pricing
{
    background-color: #171717;
}
.pricingcaption
{
    height: 8vw;
    text-align: center;
    color: #ffffff ;
    padding-top: 40px;
   
}
.pricingcaption h6{
    font-family: 'Amatic SC', cursive;
    font-size: 4vw !important;
}
.wrapper
{
    max-height: 500px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    
}

.wrapper::-webkit-scrollbar
{
    width: 0;
}
.wrapper .item 
{
    min-width: 250px;
    height: 400px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin: 3rem;
    border-radius: 0px;
   background: linear-gradient(145deg, #191919, #151515);
    box-shadow:  7px 7px 14px #090909,-7px -7px 14px #252525;
}
.amount
{
    color: #ffffff;
    text-align: center;
    
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.amount h6
{
    font-size: 2rem;
    margin: 1rem;
    margin-top: 2rem;
}
.priceinfo
{
    height: 10rem;
    padding: 1rem;
}
.priceinfo p
{
    line-height: 2rem;
    color: #ffffff;
    font-family: 'Josefin Slab', serif;
    font-size: 1.2rem;
}


/*newletter*/
#newsletter
{
    background-color: #171717;
    overflow: hidden;
}
.newslettercaption
{
    
    padding: 1rem;
    
    color: #ffffff;
    
}
.newslettercaption h6
{
    margin-top: 3rem;
    font-family: 'Amatic SC', cursive;
    font-size: 4vw !important;
    text-align: center;
}
.newslettersubscribe
{
    height: 30vw;
    padding: 2rem;
    text-align: center;
}

.newsletter-form input
{
    width: 40vw;
    height: 3rem;
    margin: 2rem;
    padding: 5px;
    color: #fff;
    display:inline-block;
    background-color: transparent;
    border: 2px solid #333232;
    border-radius: 10px;
    margin-left: 22%;
}



/* DONATE */
#donation
{
    background-color: #171717;
}
.donationcaption
{
    
    padding: 1rem;
   
    color: #ffffff;
    
}
.donationcaption h6
{
    margin-top: 6rem;
    font-family: 'Amatic SC', cursive;
    font-size: 4vw !important;
    text-align: center;
}
.donation-form input
{
    width: 40vw;
    height: 3rem;
    margin: 2rem;
    padding: 5px;
    color: #fff;
    display:inline-block;
    background-color: transparent;
    border: 2px solid #333232;
    border-radius: 10px;
    margin-left: 27%;
}
.donation-form .text-center
{
    margin-bottom: 2rem;
}


/* FOOTER */
#footer
{
    margin-top: 2rem;
    background-color: #0f0f0f;
}
.footerlocation
{
    color: #fff;
    text-align: center;
    padding: 2rem;
}
.footerlocation h6
{
    font-family: 'Amatic SC', cursive;
   font-size: 2rem;
   margin: 1rem;
  
}
.footerlocation img
{
   height: 100%;
   width: 100%;
  
}
.icons
{
    padding: 2rem;
}
.icons i
{
    color: #fff;
    margin: 2rem 0 2rem 2rem;

}
.icons p
{
    font-family: monospace;
    display: inline-block;
    margin-left: 1vw;
}
.socialmedia
{
    color: #fff;
    margin-top: 2rem;
    text-align: center;
}








@media (max-width:959.99px)
{
    
    .newsletter-form input
    {
        margin-left: 5%;
    }
    
}

@media (max-width:700px)
{
    .navbar-brand
    {
        margin-left: 10px;
        font-size: 13px !important;
    }
    .navbar-nav li a 
    {
        font-size: 12px !important;
    }
    .wrapper .item
    {
        height: 200px;
        min-width:150px ;
        margin-right: 1rem;
    }
    .amount h6
     {
    font-size: 1rem;
    margin: 0.5rem;
    }
    button
    {
        
        font-size: 0.7rem !important;
    }
    .priceinfo
    {
    height: 5rem;
    padding: 0.3rem;
    }
   .priceinfo p
    {
    margin-top: 0.5rem;
    line-height: 0.9rem;
    font-size: x-small;
    
    }
    .newsletter-form input
    {
        margin-left: 5%;
    }
    .forminput
    {
        font-size: 0.7rem !important;
    }
    .teamcards
    {
    height: 10rem;
    width: 6rem ;
    margin-bottom:1rem ;
    padding: 1px;
   
   }
    .teamcards img
    {
    width: 100%;
    height: 6rem;
    margin-bottom: 0.5rem;
     }
   .teamcards h5
    {
  font-size: 10px;
    margin-bottom: 2px;
   }
    .teamcards p
    {
     font-size: 8px;
  
    line-height: auto;
   }

   .carouselinfo h5
   {
       font-size: 15px;
       font-weight: bold;
   }
   .carousel-caption-1 
   {
     margin-top: 1rem;
   }
   .footerlocation h6
   {
   font-size: 0.7rem;
   
  
   }
   .icons i
   {
    
    margin: 1rem 0 1rem 2rem;

   }
   .icons p
    {
     font-size: 8px;
     margin-bottom: 1rem;
   }
   .socialmedia h6 
   {
       font-size: 11px;
   }
   .socialmedia i 
   {
       height: 6px !important;
   }
}

